@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main-content .img-ubicacion, .main-content .content-locales, main .video, main .subtitulo, footer .grid-container-2 .redes {
  display: flex;
  justify-content: center;
}

header {
  background-image: linear-gradient(to bottom, #f8d6e9, #fde0f2, #f7d7ea, #ffe3f4, #ffeff9);
}
header nav div .tamaño-logo {
  height: 5rem;
}
header nav a {
  padding: 2px 12px;
  text-decoration: none;
  color: black;
  font-size: 1rem;
  font-family: fantasy;
  text-transform: uppercase;
}
@media (min-width: 280px) and (max-width: 1000px) {
  header nav a {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
  }
}
header nav a:hover {
  background-color: rgb(255, 255, 255);
  border-radius: 3em;
  transition: 1s;
}

footer {
  padding-top: 50px;
  width: 100%;
  color: black;
  background-color: rgb(255, 215, 244);
}
footer .grid-container-2 {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-row: 5px;
}
footer .grid-container-2 .redes {
  grid-column-start: 1;
}
footer .grid-container-2 .redes img {
  display: flex;
  padding: 5px;
  height: 50px;
}
footer .grid-container-2 .locales {
  grid-column-start: 2;
  grid-row-start: 1;
}
footer .grid-container-2 .horarios {
  grid-column-start: 2;
}
footer .grid-container-2 .newsletter {
  grid-column-start: 3;
  grid-row-start: 1;
}
footer .grid-container-2 .newsletter .btn-2 {
  font-size: 15px;
  border: none;
  background-color: rgb(255, 216, 223);
  background: linear-gradient(to bottom, white, pink);
}
@media (max-width: 450px) {
  footer .grid-container-2 {
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
  }
}

main .bg-alert {
  background-color: rgba(255, 192, 203, 0.548);
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
main .bg-alert button {
  background-color: beige;
  border: pink;
  color: black;
}
main section .titulo {
  text-align: center;
}
main section .titulo h1 {
  font-size: 50px;
  font-style: oblique;
  font-family: fantasy;
  color: rgb(0, 0, 0);
}
@media (min-width: 280px) and (max-width: 1000px) {
  main section .titulo h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    font-size: 30px;
  }
}
main section .new-arrivals h2 {
  color: rgb(255, 233, 233);
}
@media (max-width: 450px) {
  main .section-vendidos {
    display: none;
  }
}
main .section-vendidos h3 {
  font-family: fantasy;
  padding-top: 20px;
  font-size: 3rem;
  text-align: center;
}
main .section-vendidos .vendidos {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
main .section-vendidos .vendidos .vendidos-items {
  display: flex;
  width: 350px;
}
main .subtitulo {
  color: rgb(197, 58, 186);
  padding-top: 2rem;
  padding-bottom: 2rem;
  font-size: 1rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding-bottom: 10px;
}
main .parrafo {
  padding-top: 20px;
  font-family: fantasy;
  font-size: 15px;
  text-align: center;
  padding-bottom: 10px;
}
@media (min-width: 350px) and (max-width: 1200px) {
  main .parrafo {
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    font-size: 12px;
  }
}
main .video {
  align-items: center;
  padding-bottom: 10px;
}
@media (max: width 450px) {
  main .video {
    height: 400px;
    width: 800px;
  }
}
main iframe {
  padding-bottom: 2rem;
  height: 300px;
  width: 600px;
}
main .sale {
  padding-bottom: 50px;
}
@media (max-width: 450px) {
  main .sale {
    height: 50px;
  }
}
main .sale h4 {
  text-align: center;
  font-size: 50px;
  color: rgb(248, 0, 0);
  font-family: fantasy;
}
@media (min-width: 280px) and (max-width: 1000px) {
  main .sale h4 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    font-size: 30px;
  }
}
main .sale .instagram-grid {
  display: grid;
  grid-template-columns: 1fr, 1fr, 1fr, 1fr;
  grid-auto-rows: auto;
}
@media (max-width: 450px) {
  main .sale .instagram-grid {
    display: none;
  }
}
@media (min-width: 450px) and (max-width: 1200px) {
  main .sale .instagram-grid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
}
main .sale .instagram-grid p {
  text-align: center;
  font-size: 20px;
}
main .sale .instagram-grid .item-tamaño {
  height: 400px;
  padding: 20px;
}
main .sale .instagram-grid .item-tamaño:hover {
  transition: 2s;
  transform: translateY(10px);
}
main .sale .instagram-grid .instagram-item-1 {
  grid-column-start: 1;
}
main .sale .instagram-grid .instagram-item-2 {
  grid-column-start: 2;
}
main .sale .instagram-grid .instagram-item-3 {
  grid-column-start: 3;
}
main .sale .instagram-grid .instagram-item-4 {
  grid-column-start: 4;
}
main .sale-mobile {
  display: none;
}
@media (max-width: 450px) {
  main .sale-mobile {
    display: initial;
  }
}
main .sale-mobile .bikini {
  width: auto;
  padding: 20px;
}
main .gift-card {
  display: flex;
  justify-content: center;
}
main .gift-card div {
  padding: 15px;
}
main .gift-card div img {
  display: flex;
  width: 200px;
  height: 200px;
  border-radius: 2em;
}
@media (min-width: 250px) and (max-width: 1000px) {
  main .gift-card div img {
    width: 100px;
    height: 100px;
  }
}
main .gift-card div p {
  text-align: center;
  font-size: 20px;
}

.content-talles {
  text-align: center;
}
.content-talles .descripcion-talles {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.content-talles .ubicacion-card {
  padding-top: 30px;
  padding-bottom: 30px;
}
.content-talles .ubicacion-card .col {
  display: flex;
  justify-content: center;
  padding: 20px;
}
.content-talles .ubicacion-card .col .card-talles {
  display: flex;
}
.content-talles .ubicacion-card img {
  height: 300px;
  width: auto;
}
.content-talles .ubicacion-card h2 {
  font-weight: bold;
}

.main-content .contenedor-filtro {
  display: flex;
  justify-content: flex-end;
}
.main-content .contenedor-filtro .filtro {
  display: flex;
  padding-left: 15px;
  padding-top: 15px;
}
.main-content .item-1 {
  font-family: fantasy;
}
@media (min-width: 280px) and (max-width: 1000px) {
  .main-content .item-1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    font-size: 30px;
  }
}
.main-content .item-1 .titulo-productos {
  text-align: center;
  font-style: oblique;
}
.main-content .grid-container {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: 400px;
  grid-row: 60px 10px;
}
@media (max-width: 450px) {
  .main-content .grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 330px;
    grid-gap: 2px 2px;
  }
}
@media (min-width: 451px) and (max-width: 950px) {
  .main-content .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 320px;
    grid-gap: 2px 2px;
  }
}
.main-content .grid-container .grid-item {
  display: flex;
  justify-content: center;
  position: relative;
}
@media (min-width: 451px) and (max-width: 950px) {
  .main-content .grid-container .grid-item {
    color: black;
    text-align: center;
    font-size: 10px;
  }
}
.main-content .grid-container .grid-item img {
  height: 380px;
}
@media (max-width: 450px) {
  .main-content .grid-container .grid-item img {
    height: 300px;
  }
}
@media (min-width: 451px) and (max-width: 950px) {
  .main-content .grid-container .grid-item img {
    height: 300px;
  }
}
.main-content .grid-container .grid-item h2 {
  font-size: 12px;
  text-align: center;
  color: rgb(0, 0, 0);
  position: absolute;
  bottom: 0;
}
.main-content .grid-container .grid-item .item-2 {
  grid-column-start: 1;
  grid-row-start: 1;
}
.main-content .grid-container .grid-item .item-3 {
  grid-column-start: 2;
  grid-row-start: 1;
}
.main-content .grid-container .grid-item .item-4 {
  grid-column-start: 3;
  grid-row-start: 1;
}
.main-content .grid-container .grid-item .item-5 {
  grid-column-start: 1;
  grid-row-start: 2;
}
.main-content .grid-container .grid-item .item-6 {
  grid-column-start: 2;
  grid-row-start: 2;
}
.main-content .grid-container .grid-item .item-7 {
  grid-column-start: 3;
  grid-row-start: 2;
}
.main-content .grid-container .grid-item .item-8 {
  grid-column-start: 1;
  grid-row-start: 3;
}
.main-content .grid-container .grid-item .item-9 {
  grid-column-start: 2;
  grid-row-start: 3;
}

main .parrafo-cuenta {
  font-family: fantasy;
  font-style: oblique;
  font-size: 40px;
}
@media (min-width: 280px) and (max-width: 1000px) {
  main .parrafo-cuenta {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    font-size: 25px;
  }
}
main form {
  display: flex;
  justify-content: center;
}
main form .cuenta {
  text-align: center;
  width: 300px;
}
main form .btn {
  margin-top: 2%;
  height: 40px;
  width: 80px;
  background-color: rgb(255, 216, 223);
  background: linear-gradient(to bottom, white, pink);
}
main form {
  padding-bottom: 20px;
}
main form .btn {
  color: black;
  margin-top: 2%;
  height: 40px;
  width: 80px;
  background-color: rgb(255, 216, 223);
  background: linear-gradient(to bottom, white, pink);
}

.main-content .titulo-locales {
  font-style: oblique;
  font-family: fantasy;
  text-align: center;
  height: 30%;
}
.main-content .content-locales .div-imagenes {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.main-content .content-locales .div-imagenes .parrafo-direccion {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  text-align: start;
}
.main-content .content-locales .div-imagenes .mapa-locales {
  width: 250px;
  height: 250px;
}
.main-content .content-locales .div-imagenes .mapa-1 {
  padding-right: 20px;
  width: 250px;
  height: 250px;
}
.main-content .img-ubicacion img {
  height: 100px;
}

/*# sourceMappingURL=style.css.map */
