header {
    background-image: $bg-color-nav;
    nav {
        div {
            .tamaño-logo {
                height: 5rem;
            }
        }
        
        a {
            padding: map-get($nav-list, padding-list);
            text-decoration: map-get($nav-list, decoration-list);
            color: map-get($nav-list, color-text);
            font-size: map-get($nav-list, font-size-list);
            font-family: $font-family;
            text-transform: map-get($nav-list, transform-list);
            @media (max-width: 450px){
                font-family: 'Poppins', sans-serif;
                        }
            &:hover {
                background-color:  rgb(255, 255, 255); 
                border-radius: 3em;
                transition: 1s;            
          }
           }
    }
 }