@import "../base/variables";
.content-talles .container { 
    display: flex;
	justify-content: center;
    & col{
        display: flex;
        }
        img {
                height: 300px;
                width: auto;  
            }
       & h5 {
            	font-weight: bold;
        }
        }
    
