@import "../base/variables";
.content-talles{ 
   text-align: center;
  .descripcion-talles{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
 
  }
  .ubicacion-card{
    padding-top: 30px;
    padding-bottom: 30px;
    .col{
     display: flex;
     justify-content: center;
     padding: 20px;
     .card-talles {
       display: flex;
     }
    }
    img {
            height: 300px;
            width: auto;  
        }
   h2 {
            font-weight: bold;
    }
  }
        }
    
